[Desktop Entry]
Type=Application
Name=Spotify
Exec=alacritty --title Spotify -e sh -c 'cowsay -f stegosaurus loading && spotify_player'
Categories=Sound
